WEB SCRAPING ON COMPANIES DATA.

In [1]:
import pandas as pd
import numpy as np
import requests
from bs4 import BeautifulSoup

headers = {
    "User-Agent": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/115.0.0.0 Safari/537.36",
    "Accept": "text/html,application/xhtml+xml,application/xml;q=0.9,image/webp,*/*;q=0.8",
    "Accept-Encoding": "gzip, deflate, br",
    "Accept-Language": "en-US,en;q=0.5",
    "Connection": "keep-alive",
    "Referer": "https://www.google.com/"
}

In [2]:
name = []
price = []
for i in range(1,11):
    url = "https://books.toscrape.com/catalogue/page-{}.html".format(i)
    web_page = requests.get(url,headers).text
    soup = BeautifulSoup(web_page, "html.parser")
    cards = soup.find_all("article")
    for card in cards:
        name.append(card.find("h3").find("a")["title"])
        price.append(card.find("div",class_="product_price").find("p",class_ = "price_color").text.strip())

In [6]:
data = {"name":name , "price":price}
dframe = pd.DataFrame(data)
dframe.head(10)

                                                name    price
0                               A Light in the Attic  Â£51.77
1                                 Tipping the Velvet  Â£53.74
2                                         Soumission  Â£50.10
3                                      Sharp Objects  Â£47.82
4              Sapiens: A Brief History of Humankind  Â£54.23
5                                    The Requiem Red  Â£22.65
6  The Dirty Little Secrets of Getting Your Dream...  Â£33.34
7  The Coming Woman: A Novel Based on the Life of...  Â£17.93
8  The Boys in the Boat: Nine Americans and Their...  Â£22.60
9                                    The Black Maria  Â£52.15